<div class="row">
     <!-- HARD SKILL 1-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [imageHeight]="70"
        [imageWidth]="70"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [showTitle]="false"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#da8300'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <!-- HARD SKILL 2-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageHeight]="70"
            [imageWidth]="50"
            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showTitle]="false"
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#da8300'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
     <!-- HARD SKILL 3-->
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageHeight]="80"
            [imageWidth]="80"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showTitle]="false"
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#da8300'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
    <!-- SOFT SKILL 1-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageHeight]="70"
            [imageWidth]="70"
            [imageSrc]="'../../../assets/github.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showTitle]="false"
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#da8300'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
    <!-- SOFT SKILL 2-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageHeight]="100"
            [imageWidth]="100"
            [imageSrc]="'../../../assets/ingles.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showTitle]="false"
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#da8300'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
    <!-- SOFT SKILL 3-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [imageHeight]="70"
            [imageWidth]="70"
            [imageSrc]="'../../../assets/comunicacion.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showTitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#da8300'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
        </div>
</div>  