<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe ">
                    <td>
                        <h1>{{Experiencia.nombreE}}</h1>
                    </td>
                    <td>
                        <h2>{{Experiencia.descripcionE}}</h2>
                    </td>
                    <td *ngIf="isLogged">
                        <button routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil">EDITAR</i>
                        </button>
                    </td >
                    <td *ngIf="isLogged">
                        <button (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash">BORRAR</i>
                        </button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>