<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-1"></div>
    <div class="col-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(3 años)</h3></li>
                <p>kiosco de diarios y revistas familiar.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(1 año)</h3></li>
                <p>Distribuidora de fiambre. Area: repartidor</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(actual)</h3></li>
                <p>Mantenimiento de PC y Notebooks.</p>
        </ul>
    </div>
</div>