<div class ="row">
    <div class="col-12 cols-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/nashe.png"  id="imgperfil">
    </div>
    <div class="col-12 cols-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}} {{persona.id}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-12 cols-sm-8 col-md-6 col-lg-6">
        <span>
            <h2 id="acercad">Acerca de mi</h2>
            <p> Mi metas son aprender cada dia un poco mas de programacion
            </p>
        </span>
    </div>
</div>