<div class="row">
    <h1>Educacion</h1>
    <div class="col-1"></div>
    <div class="col-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(7 años)</h3></li>
                <p>Secundaria completa titulo tecnico Electronico.</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(actual)</h3></li>
                <p>Universidad Tecnologica Nacional ingeniero Electronico</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(actual)</h3></li>
                <p>Argentina Programa.</p>
        </ul>
    </div>
</div>