<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="row">
    <div id="titulo">
        <h1>Proyectos realizados</h1>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-4" class="w3-card-4" style="width:50%;" class="w3-container">
        <header class="w3-container">
            <h1>portafolio web</h1>
        </header>
        <div class="w3-container" id="img">
            <img src="../../../assets/banner1.png" class="img-fluid">
        </div>
        <div>
            <h4>
                Este es mi primer portafolio web que desarrolle en la cursada de la segunda etapa
                de Argentina Programa (#YoProgramo).
            </h4>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-4" class="w3-card-4" style="width:50%;" class="w3-container">
        <header class="w3-container">
            <h1>y esto?? </h1>
        </header>
        <div class="w3-container" id="img">
            <img src="../../../assets/png-transparent-emoji-thought-emoticon-sticker-emoji-orange-computer-wallpaper-vector-icons.png" class="img-fluid">
        </div>
        <div>
            <h4>
                para que termine el de al lado.
            </h4>
        </div>
    </div>
</div>